.form {
    width: 100%;
}
.form form {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.btn {
    background-color: var(--bg-orange);
    width: 10rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}
.form p{
    background: red;
    color: white ;
    width: 20rem;
    top: 0;
    border-radius: 2px;
    text-align: center;
    margin: 1rem;
}
@media (max-width: 768px) {
    .form form {
        flex-direction: column;
        align-items: center;
    }
    .btn{
        width: 15rem;
    }
}